
*{
    font-family: 'Open Sans', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    border: none; outline: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

*::selection{
    background: #f39c12;
    color: #fff;
}
body{
    background: url(image/images.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

html::-webkit-scrollbar{
    width: 1rem;
}

html::-webkit-scrollbar-track{
    background: #666;
}

html::-webkit-scrollbar-thumb{
    background: linear-gradient(#333, #333);
}


section{
    min-height: 100vh;
    padding: 1rem 7%;
    padding-top: 6rem;
}

header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0; left: 0;
    z-index: 1000;
    padding: 1.5rem 7%;
    background: var(--gradient);
    box-shadow: 0 .1rem .3rem rgba(0,0,0,.3);
}

header #menu{
    color: #fff;
    font-size: 3rem;
    text-transform: none;
}

header .navbar ul{
    height: 2rem;
    margin-left: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

header .navbar ul li{
    margin:0 1%;
}

header .navbar ul li a{
    align-items: center;
    justify-content: center;
    text-transform: none;
    font-size: 1.8rem;
    color: #fff;
}


.dif{
    margin: 0 4rem;
}

header .navbar ul li a.active,
header .navbar ul li a:hover{
    color: #444;
}

header #login{
    font-size: 3rem;
    color: #fff;
    cursor: pointer;
}

header #login:hover{
    color: #444;
}

header #menu{
    font-size: 3rem;
    color: #fff;
    cursor: pointer;
    display: none;
}


.home{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    position: relative;
 
    text-align: center;
}

.home h1{
    font-size: 4rem;
    color: black;
}

.home p{
    font-size: 4rem;
    color: green;
    padding: 1rem 0;
    width: 70rem;
}

p {
	font-size:13px;
	color:#666;
	font-weight:bolder;
	line-height:25px;
	font-family: 'open_sansregular';
    text-transform: none;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
 font-family: 'helvetica_ce_55_romanregular';
}
h1 {
	color:#fff;
	font-size:51px;
	text-transform:uppercase;
}
h2 {
	color:#555;
	font-size:40px;
	text-transform:uppercase;
	font-weight:bolder;
}
h3 {
	color:#333;
	font-size:25px;
}
h4 {
	color:#555;
	font-size:21px;
	text-transform:uppercase;
}
h5 {
	color:#333;
	font-size:18px;
}
h6 {
	font-size:16px;
}
strong {
	font-weight:bolder;
}
span {
	color:#008000;
}

.line {
	border:1px solid #008000;
	width:15%;
    margin-left: 10%;
}


#about {
    background-color: #fff;
	padding:3% 0%;
}

#about .container{
    margin-right: 10rem;
}
#about .heading {
	margin-left: 25%;
}
.heading h2 {
	font-family: 'helvetica_ce_55_romanregular';
}
.heading p {
	padding:20px 0px;
	font-size:13px;
	font-weight:bolder;
	color:#555;
}
.ab-sec {
	text-align:justify;
}
.ab-sec h3 {
	font-weight:bolder;
}
.ab-sec p {
	padding:10px 0px;
	font-size:15px;
}

#contact {
    background-color: #333;
	text-align:center;
	padding:3% 0% 0% 2%;
}
.contact-sec-1 {
	text-align:left;
}
.contact-sec-1 h4 {
	font-weight:bold;
}
.contact-sec-1 ul.contact-form li i.fa {
	color:#666;
	float:left;
	margin-right:10px;
}
.contact-sec-1 ul.contact-form li h6 {
	font-size:14px;
	color:#666;
	margin:0;
}
.contact-sec-1 ul {
	padding:0;
	position: relative;
	top: 20px;
}
.contact-sec-1 ul li {
	display:block;
	padding-bottom: 30px;
}
.contact-sec-1 ul li a {
	color:#666;
}
.contact-sec-1 ul li a:hover {
	color:#e73131;
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	-ms-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;
}
label {
	font-size:15px;
	font-weight:normal;
	float:left;
	margin:0px 0px 20px 0px;
}
.form-group {
	margin-bottom: 30px;
}
textarea.form-control {
	min-height: 120px;
	resize: none;
}
.form-control {
	border: 1px solid #ccc;
	height: 35px;
	border-radius: 0;
	box-shadow: none;
}



.footer{
    padding: 40px 0;
    background-color:  #03a9f4;
}
.footer .alo{
    display: block;
    color:#fff;
    font-size: 35px;
}
.footer .social{
    display: flex;
    list-style: none;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}
.footer .social li a i{
    color:#f5f5f5;
    font-size: 2rem;
}
.footer .social li a:hover i{
    opacity:0.6;
}
.footer .copyright{
   display: block;
   color: rgba(255,255,255,0.7);
   font-size: 12px;
}

.btn{
    background-color: #fff;
    height: 4rem;
    padding: 0.5rem 1rem;
    font-size: 2rem;
    color: #fff;
    background: var(--gradient);
    border-radius: 5rem;
    margin-top: 0;
    cursor: pointer;
    box-shadow: 0 .1rem .3rem rgba(0,0,0,.3);
    position: relative;
    overflow: hidden;
    z-index: 0;
}

.btn:hover{
    color: saddlebrown;
    background-color: #ffffffff;
}






@media(max-width:768px){

    html{
        font-size: 55%;
    }


    header .navbar{
        position: fixed;
        top: 1%; left: -34%;
        width: 100%;
        display: flex;
    }

    header .navbar ul{
        flex-flow: row;
        padding: 0 0;
    }

    header .navbar ul li{
        margin: 1rem 2%;
        margin-right: 1%;
        width: 100%;
    }

    
    header .navbar ul li a{
        font-size: 1.9rem;
        display:flex;
    }

    header .navbar ul li a.active,
    header .navbar ul li a:hover{
        color: grey;
    }

    .zmdi-time{
        transform: rotate(180deg);
    }

    header .navbar.nav-toggle{
        top: 6.4rem;
    }

    .home h1{
        font-size: 4rem;
    }

    .home p{
        width: auto;
    }

    p {
        font-size:13px;
        color:#666;
        font-weight:bolder;
        line-height:25px;
        font-family: 'open_sansregular';
        text-transform: none;
    }
    h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
     font-family: 'helvetica_ce_55_romanregular';
    }
    h1 {
        color:#fff;
        font-size:51px;
        text-transform:uppercase;
    }
    h2 {
        color:#555;
        font-size:40px;
        text-transform:uppercase;
        font-weight:bolder;
    }
    h3 {
        color:#333;
        font-size:25px;
    }
    h4 {
        color:#555;
        font-size:21px;
        text-transform:uppercase;
    }
    h5 {
        color:#333;
        font-size:18px;
    }
    h6 {
        font-size:16px;
    }
    strong {
        font-weight:bolder;
    }
    span {
        color:#008000;
    }
    
    .line {
        border:1px solid #008000;
        width:15%;
        margin-left: 10%;
    }
    
    
    #about {
        background-color: #fff;
        padding:3% 0%;
    }
    #about .heading {
        margin-left: 25%;
    }
    .heading h2 {
        font-family: 'helvetica_ce_55_romanregular';
    }
    .heading p {
        padding:20px 0px;
        font-size:13px;
        font-weight:bolder;
        color:#555;
    }
    .ab-sec {
        text-align:justify;
    }
    .ab-sec h3 {
        font-weight:bolder;
    }
    .ab-sec p {
        padding:10px 0px;
        font-size:15px;
    }
    
    #contact {
        background-color: #333;
        text-align:center;
        padding:3% 0% 0% 2%;
    }
    .contact-sec-1 {
        text-align:left;
    }
    .contact-sec-1 h4 {
        font-weight:bold;
    }
    .contact-sec-1 ul.contact-form li i.fa {
        color:#666;
        float:left;
        margin-right:10px;
    }
    .contact-sec-1 ul.contact-form li h6 {
        font-size:14px;
        color:#666;
        margin:0;
    }
    .contact-sec-1 ul {
        padding:0;
        position: relative;
        top: 20px;
    }
    .contact-sec-1 ul li {
        display:block;
        padding-bottom: 30px;
    }
    .contact-sec-1 ul li a {
        color:#666;
    }
    .contact-sec-1 ul li a:hover {
        color:#e73131;
        -webkit-transition-duration: 0.3s;
        -moz-transition-duration: 0.3s;
        -ms-transition-duration: 0.3s;
        -o-transition-duration: 0.3s;
        transition-duration: 0.3s;
    }
    label {
        font-size:15px;
        font-weight:normal;
        float:left;
        margin:0px 0px 20px 0px;
    }
    .form-group {
        margin-bottom: 30px;
    }
    textarea.form-control {
        min-height: 120px;
        resize: none;
    }
    .form-control {
        border: 1px solid #ccc;
        height: 35px;
        border-radius: 0;
        box-shadow: none;
    }
    
    
    
    .footer{
        padding: 40px 0;
        background-color:  #03a9f4;
    }
    .footer .alo{
        display: block;
        color:#fff;
        font-size: 35px;
    }
    .footer .social{
        display: flex;
        list-style: none;
        text-align: center;
        justify-content: center;
        align-items: center;
        margin: 20px 0;
    }
    .footer .social li a i{
        color:#f5f5f5;
        font-size: 2rem;
    }
    .footer .social li a:hover i{
        opacity:0.6;
    }
    .footer .copyright{
       display: block;
       color: rgba(255,255,255,0.7);
       font-size: 12px;
    }
    
    .btn{
        background-color: #fff;
        height: 4rem;
        padding: 0.5rem 1rem;
        font-size: 2rem;
        color: #fff;
        background: var(--gradient);
        border-radius: 5rem;
        margin-top: 0;
        cursor: pointer;
        box-shadow: 0 .1rem .3rem rgba(0,0,0,.3);
        position: relative;
        overflow: hidden;
        z-index: 0;
    }
    
    .btn:hover{
        color: saddlebrown;
        background-color: #ffffffff;
    }
    
}

@media(max-width:500px){

    html{
        font-size: 50%;
    }
}